body {
  background-color: #eff0eb !important;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
}


@font-face {
  font-family: myFirstFont;
  src: url(./fonts/luckiestguy.ttf) format("truetype");

  color: black;
}

/* https://compraflora.com.br/skin/frontend/flora/default/js/node_modules/sweetalert2/src/sweetalert2.scss */

/* -----------------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------*/

.swal-copyclipboard {
  height: 4% !important; 
  width: auto !important;
  font-size: 10px  !important;
  background-color: #26be84  !important;
  border-radius: 10px !important;
}

.swal-warning {
  height: 4% !important;
  width: auto !important;
  font-size: 10px !important;
  background-color: #ee467e !important ;
  border-radius: 10px !important;
}

.swal2-title {
  color: white !important;
  font-weight: 150 !important;
  margin: 0 !important;
}


.input-group {
  display: block;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: text;
  margin: 5px ;
  border-color: white;
  border-style: solid;
  border-radius: 9px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  /* inline and or block */
}

.button-group {

  background-color: #26be84;
  opacity: 0.9;
  color: white;
  padding: 20px 40px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  transition: background-color 0.5s;
  font-family: myFirstFont, Arial, Helvetica, sans-serif;
}

.button-group:hover,
.button-group:active {
  background-color: #1aac74;
}


/* -----------------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------*/
/* surveyCreate.html */


/* -----------------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------*/
/*surveyPage.html */



